[submodule "st"]
	path = st
	url = ./st
[submodule "dmenu"]
	path = dmenu
	url = ./dmenu/
[submodule "dwm"]
	path = dwm
	url = ./dwm
[submodule "slstatus"]
	path = slstatus
	url = ./slstatus/
[submodule "tremc"]
	path = tremc
	url = https://github.com/tremc/tremc
